body, h1, h2, p, ul, li, a {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Space Mono', monospace;
    color: #2C2137;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

/* Superinfo */

.superinfo-bg {
    background: #2C2137;
    color: white;
}

.superinfo {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 10px;
}

.superinfo a, .superinfo p {
    margin: 0 10px 10px 10px;
}

.superinfo a {
    color: white;
}

@media (max-width: 600px) {
    .superinfo p {
        font-size: 0.9em;
    }
}

/* Menu */

.menu-bg {
    background: #764462;
}

.menu {
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    color: white;
}

.menu-logo a {
    font-size: 1.25em;
    font-weight: bold;
    margin: 0 10px;
}

.menu-nav ul {
    display: flex;
    flex-wrap: wrap;
}

.menu-nav a {
    font-size: 1.25em;
    display: block;
    padding: 10px;
}

.menu-nav a:hover {
    color: #2C2137;
}

@media (max-width: 600px) {
    .menu-logo a {
        font-size: 1em;
    }

    .menu-nav a {
        font-size: 1em;
        display: block;
        padding: 10px;
    }
}

/* meme */

.ml-meme {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 260px;
    font-size: 2em;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 10px;
    align-items: center;
    justify-content: center;
}

.ml-meme p {
    padding: 10px;
}

/* About Me */

.about {
    border-top: 2px solid #764462;
    border-bottom: 2px solid #764462;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
}

.about-info {
    flex: 2 1 300px;
    margin: 0 10px;
}

.about-info h1 {
    font-size: 3em;
    margin-bottom: .5em;
}

.about-info p {
    font-size: 1.25em;
    line-height: 1.4;
    margin-bottom: 1em;
    color: #222;
}

.about-img {
    flex: 1 1 160px;
    margin: 0 10px;
}

/* Other Links */

.links {
    max-width: 960px;
    margin: 60px auto;
}

.links h1 {
    font-size: 3em;
    margin: 0 10px 60px 10px;
}

.links a {
    color: #2C2137;
}

.links a:hover {
    color: #764462;
}

.links-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.links-item {
    flex: 1 1 175px;
    margin: 10px;
}

.links-item h2 {
    font-size: 3em;
    color: #222;
    background: #f7f7f7;
    padding: 60px 20px;
}

.order2 {
    border-top: 8px solid #A96868;
    order: 2;
}

.order1 {
    border-top: 8px solid #EDB4A1;
    order: 1;
}

.order3 {
    border-top: 8px solid #EDB4A1;
    order: 3;
}

/* Interests */

#interests {
    border-top: 2px solid #764462;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0;
    padding-bottom: 20px;
}

#interests h1 {
    font-size: 3em;
    margin: 0 10px;
    margin-bottom: .5em;
}

.interests {
    max-width: 960px;
    margin: 60px auto;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.interests-item {
    flex: 1 1 300px;
    margin: 20px 10px;
}

.interests-item h2 {
    font-size: 1.50em;
    color: #222;
    margin-bottom: 20px;
}

.interests-item h2::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 30px;
    margin-right: 10px;
    background: #2C2137;
}

.interests-item p {
    font-size: 1em;
    line-height: 1.4;
    color: #7c7c7c;
}

/* CIn-UFPE */

.cinufpe {
    background: #f7f7f7;
    padding: 60px calc((100% - 960px) / 2);
    display: flex;
    flex-wrap: wrap;
}

.cinufpe-info {
    flex: 1 1 240px;
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
}

.cinufpe-info h1 {
    font-size: 3em;
    color: #a4a4a4;
}

.cinufpe-info p {
    font-size: 1.25em;
    font-style: italic;
    max-width: 230px;
    color: #7c7c7c;
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    .cinufpe-info {
        justify-content: center;
        margin-bottom: 10px;
    }
    .cinufpe-info p {
        text-align: center;
    }
}

.cinufpe-img {
    flex: 2 1 260px;
    margin: 0 10px;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
}

/* Footer */

.footer {
    display: flex;
    background: #764462;
    height: 200px;
    align-items: center;
}

.footer p {
    flex: 1;
    text-align: center;
    font-size: 1.50em;
    color: #2C2137;
}

.footer p a {
    color: white;
}

.footer p a:hover {
    color: #2C2137;
}

@media (max-width: 600px) {
    .cinufpe-.footer p {
        font-size: .9em;
    }
}
